<html>
<head>
  <title>Full Cycle</title>
</head>
<body>
  <div>
    <h1>Full Cycle Rocks!</h1>
    <ul>
        <% list.forEach(function(name) { %>
          <li><%= name %></li>
        <% }); %>
    </ul>
  </div>
</body>
</html>